<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <form action="/ingest" method="post" enctype="multipart/form-data">
            <input type="text" name="owner" value="zigtools" />
            <input type="text" name="repo" value="zls" />
            <input type="text" name="branch" value="master" />
            <input type="text" name="commit" value="5e6c6c11f0868bf85bddde47dd502019f7eafc9b" />

            <input type="file" name="entries" multiple />
            <input type="submit" value="bruh" />
        </form>
    </body>
</html>
