:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;

    color: white;
    background-color: black;
}

#nav {
    padding: 40px;
    padding-bottom: 0;

    display: flex;

    align-items: center;
    justify-content: space-between;

    &__branding {
        &, &>* {
            vertical-align: middle;
        }

        &__zigtools {
            height: 40px;

            border-right: 2px solid rgb(185, 185, 185);
            border-right-style: dashed;

            padding-right: 15px;
            margin-right: 15px;
        }

        &__zls {
            height: 30px;
        }
    }

    &__links {
        a {
            color: white;
            font-size: 18pt;
        }
    }
}

main {
    padding: 40px;
    padding-top: 20px;

    h1 {
        margin-top: 35px;
        margin-bottom: 20px;

        font-size: 32pt;
        font-weight: 700;
        letter-spacing: -0.022em;
    }

    th {
        margin-top: 40px;

        font-size: 20pt;
        font-weight: 600;
        letter-spacing: -0.021em;
    }

    a {
        color: white;
    }

    p {
        color: white;
        font-size: 14pt;
        letter-spacing: -0.011em;
    }
}

.list {
    display: flex;
    flex-direction: column;

    &>* {
        border: 3px solid rgb(191, 191, 191);

        text-decoration: none;

        &:not(:last-child) {
            border-bottom: none;
        }

        &:first-child {
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
        }

        &:last-child {
            border-bottom-left-radius: 7px;
            border-bottom-right-radius: 7px;
        }

        &>.summary {    
            display: flex;

            align-items: center;
            justify-content: space-between;

            cursor: pointer;

            &:hover {
                background-color: rgba(255, 255, 255, 0.15);
            }

            &>*:first-child {
                margin: 0;
                padding: 14px 20px;
    
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
    
                font-size: 18px;
                letter-spacing: -0.021em;
            }
    
            &>*:last-child {
                flex-shrink: 0;
    
                display: flex;
    
                flex-direction: column;
    
                padding: 14px 20px;
    
                min-width: 125px;
    
                font-size: 18px;
                text-align: right;
                letter-spacing: -0.014em;
            }
        }

        &>.details {
            display: none;

            padding: 20px;

            &>*:first-child {margin-top: 0;}
            &>*:last-child {margin-bottom: 0;}
        }

        &.expanded {
            &>.summary {
                background-color: rgba(255, 255, 255, 0.20);
                
                &:hover {
                    background-color: rgba(255, 255, 255, 0.15);
                }
            }

            &>.details {
                display: block;
            }
        }

        .link-list {
            display: flex;

            gap: 20px;
        }
    }
}
